html,body {
  margin:0;
  padding:0;
  height:100%;
}
.page-wrapper {
  min-height:100%;
  position:relative;
}
.content-container {
  padding: 60px 0 60px 0; /* height of header and footer */
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
}

/* incase the wp admin bar is showing we have classes to adjust things. */
#main-nav-bar.wp-admin-menu {
  top: 24px !important;
}

/* end styles to manage the footer sticking to the bottom */

.border { border: 1px solid #000; }
.border-red { border: 1px solid #f00; }
.navbar { margin: 0 !important; }
.post { margin: 0 0 20px 0; }
.well { padding: 14px; }
.well > h2 { font-size: 18px; line-height: 18px; margin-bottom: 5px; }
ul.comments { padding: 0; margin: 0; }
ul.comments li { list-style: none; margin: 20px 0; }
ul.allowed-tags-list { overflow: hidden; }
ul.allowed-tags-list li { list-style: none; float: left; margin: 3px 5px 8px 0; }

ul.comments li .comment-body > .p { width: 50px; }

/* Handle the unordered lists in the sidebar */
div.sidebar > ul { padding: 0; margin: 0; }
div.sidebar > ul > li.widget { list-style: none; }
div.sidebar > ul > li > ul { padding: 0; margin: 0; }
div.sidebar > ul > li > ul > li { list-style: none; margin: 0 0 0 15px; }
div.sidebar > ul > li > ul > li > ul { padding: 0; margin: 0 0 0 10px; }
div.sidebar > ul > li > ul > li > ul li { list-style: none; }
div.sidebar > ul > li > ul > li > ul li ul { padding: 0; margin: 0 0 0 10px; }
div.sidebar > ul > li > ul > li > ul li ul li { list-style: none; }

/* we'll start bastardizing bootstraps dropdown menus for hovering here.*/
.hoverdropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.hoverdropdown:hover .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hoverdropdown:hover .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.hoverdropdown:hover .dropdown-menu {
  top: 97%;
  display: block;
}

.common-two-column .sidebar-post { padding: 30px 0 0 0; }
.common-two-column .sidebar-page { padding: 40px 0 0 0; }
.common-two-column .main-content .page h2.page-title { border-bottom: 1px solid #ccc; }
.common-two-column .main-content .post h3.post-title { border-bottom: 1px solid #ccc; position: relative; }
.common-two-column .main-content .post h3.post-title span.post-author { display: block; font-size: 13px; font-weight: normal; position: absolute; bottom: -4px; right: 0; }
.common-two-column .main-content .post-meta-data { text-align: right; margin: 5px 0 15px 0; }

.common-two-column .sidebar .widget select { width: 190px; }
.common-two-column .sidebar .widget input { width: 180px; }
.common-two-column .sidebar .widget input[type="submit"] { width: 100px; }

.homepage-one .homepage-primary-widget .well { height: 250px; }
.homepage-one .homepage-widgets > .well { height: 150px; }
.homepage-one .homepage-widgets > .well > ul { padding: 0; margin: 0; }
.homepage-one .homepage-widgets > .well > ul > li h2 { font-size: 18px; }
.homepage-one .homepage-widgets > .well > ul > li { padding: 0; margin: 0; list-style: none; }














